* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: gray;
}

*::-moz-selection {
  background: gray;
}


* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  cursor:default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
